@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  position: relative;
  background-image: url("../images/background_image.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Work Sans";
  color: white;
  font-weight: 300;

  .card {
    width: 370px;
    height: fit-content;
    background: linear-gradient(
      151.54deg,
      rgba(255, 255, 255, 0.052) 3.19%,
      rgba(255, 255, 255, 0.013) 79.78%
    );
    border-radius: 33px;
    backdrop-filter: blur(8px);
    text-align: center;

    img {
      width: 150px;
      transform: translateY(-75px);
      filter: drop-shadow(10px 10px 23px rgba(0, 0, 0, 0.25));
    }

    .form {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      transform: translateY(-50px);

      h1 {
        margin-bottom: 30px;
        font-size: 2.5rem;
        font-weight: 300;
      }

      form {
        input {
          display: block;
          background: transparent;
          border: none;
          border-bottom: solid 2px rgba(255, 255, 255, 0.733);
          padding: 12px;
          margin-bottom: 20px;
          font-family: inherit;
          font-size: inherit;
          color: #fff;

          &::placeholder {
            color: rgba(255, 255, 255, 0.59);
            font-size: 18px;
            font-weight: 400;
          }

          &:focus {
            outline: none;
          }
        }

        button {
          cursor: pointer;
          width: 100%;
          height: 46px;
          background: #ffffff;
          border-radius: 14px;
          border: none;
          font-family: "Work Sans";
          font-size: 22px;
          font-weight: 400;
          margin-top: 20px;
        }
      }
    }
  }
}
